/PC_modulo.vhdl
/comp_as_ram.vhdl
/comp_decode.vhdl
/mod_controle.vhdl
/mod_mem.vhdl
/neanderram.mem
/neanderram.mem:Zone.Identifier
/reg_FLAGS.vhdl
/reg_PC.vhdl
/reg_RDM.vhdl
/reg_REM.vhdl
/reg_RI.vhdl
/tb_alu.ghw
/tb_decode.ghw
/tb_decode.vhdl
/tb_mem.ghw
/tb_mem.vhdl
/tb_ula.ghw
/work-obj93.cf